<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <h2>Vous êtes connectés en tant que: <%= email %></h2>

  </body>

</html>
